:root{
    --swiper-navigation-size: 44px
    --swiper-theme-color: #007aff;
}
.header{
    background-color: #FFFF;
}
*, ::after, ::before{
    box-sizing: inherit;
}
header{
    display: block;
}
body{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #707070;
    overflow-x: hidden;
}

.header_inner{
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
element.style{

}
